a {
    text-decoration: none;
}

body{
    background-color: rgba(245, 187, 101, 0.37);
}

h1{
    text-align: center;
}

body.blog{
 width: ;
}

.art{
    margin-left: 20px;
    margin-right: 250px;
    text-align: justify;
}